<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 开启注解扫描器 -->
    <context:component-scan base-package="com.project.spring.mvc"></context:component-scan>


    <!-- 文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置文件上传的最大尺寸 -->
        <property name="maxUploadSize">
            <value>524288000</value>
        </property>
    </bean>


    <!-- 注册属性编辑器 -->
    <bean id="customPropertyEditor" class="com.project.spring.mvc.registrar.CustomPropertyEditor">
    </bean>

    <!-- 自定义webBinder -->
    <bean id="customBinderOne" class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">
        <!-- propertyEditorRegistrars用于属性编辑器 -->
        <!--
        <property name="propertyEditorRegistrars">
            <list>
                <ref bean="customPropertyEditor"></ref>
            </list>
        </property>
        -->
    </bean>


    <!-- 注解适配器 -->
    <!--
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="webBindingInitializer" ref="customBinderOne"></property>
    </bean>
    -->


    <!-- 转换器 -->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.project.spring.mvc.registrar.CustomDateConverter"></bean>
                <bean class="com.project.spring.mvc.registrar.StringTrimConverter"></bean>
            </list>
        </property>
    </bean>

    <!-- 自定义webBinder -->
    <bean id="customBinderTwo" class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">
        <!-- 使用converter进行参数转换 -->
        <property name="conversionService" ref="conversionService"></property>
    </bean>

    <!-- 注解适配器 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <!-- 在webBindingInitializer中注入自定义编辑器、自定义转换器 -->
        <property name="webBindingInitializer" ref="customBinderTwo"></property>
    </bean>
</beans>
